@charset "UTF-8";

body {
  margin: auto;
  font-family: sans-serif;
  background-color: #55f;
  background-image: url("https://static.pexels.com/photos/375732/pexels-photo-375732.jpeg");
}

header {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  color: #999999;
  background-color: #292929;
  border-color: #101010;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
}

.content {
  margin: auto;
  padding: 25px;
}

.title {
  left: auto;
  right: auto;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.centered-text {
  margin: auto;
  padding: auto;
  text-align: center;
}

.image-container {
  margin: auto;
  padding: auto;
  opacity: 1.0;
}

.image-container img {
  background: #fff;
  padding: 5px;
  margin: auto;
}
